<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>K.D.A. (VALORANT) Edit Diary Entry</title>
</head>
<body class="bg-secondary">
    <div id="particles-container"></div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-md-6 text-md-end mt-3">
                <a href="/dashboard" class="btn btn-danger btn-lg">Return to Dashboard</a>
            </div>
        </div>
        
        
            <div class="card col-12 bg-dark text-danger p-3 mt-5 main-container">
                <h1>Edit Diary Entry</h1>
            </div>
        

            {% with messages = get_flashed_messages(category_filter=['entry']) %}
                {% if messages %}
        <div class="alert alert-warning" role="alert">
            <strong>Warning!!!</strong>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    </div>

        <div class="container">
            <div class="card col-12 bg-danger text-white text-center p-3 mb-3 main-container">
                    <form action="/edit/stats/{{match.id}}" method="post">
                        <div class="row">
                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <label for="match_date">Match Date:</label>
                                <input type="date" name="match_date" class="form-control mb-4 border-dark border-4" value="{{ match.match_date}}">
                            </div>
                            <div class="form-group text-center">
                                <label for="agent">Agent:</label>
                                <select id="agent" name="agent" class="form-control mb-4 border-dark border-4">
                                    <option value="">-- Select an Agent --</option>
                                    <option value="Brimstone" {% if match.agent == 'Brimstone' %}selected{% endif %}>Brimstone</option>
                                    <option value="Viper" {% if match.agent == 'Viper' %}selected{% endif %}>Viper</option>
                                    <option value="Omen" {% if match.agent == 'Omen' %}selected{% endif %}>Omen</option>
                                    <option value="Killjoy" {% if match.agent == 'Killjoy' %}selected{% endif %}>Killjoy</option>
                                    <option value="Cypher" {% if match.agent == 'Cypher' %}selected{% endif %}>Cypher</option>
                                    <option value="Sova" {% if match.agent == 'Sova' %}selected{% endif %}>Sova</option>
                                    <option value="Sage" {% if match.agent == 'Sage' %}selected{% endif %}>Sage</option>
                                    <option value="Phoenix" {% if match.agent == 'Phoenix' %}selected{% endif %}>Phoenix</option>
                                    <option value="Jett" {% if match.agent == 'Jett' %}selected{% endif %}>Jett</option>
                                    <option value="Reyna" {% if match.agent == 'Reyna' %}selected{% endif %}>Reyna</option>
                                    <option value="Raze" {% if match.agent == 'Raze' %}selected{% endif %}>Raze</option>
                                    <option value="Breach" {% if match.agent == 'Breach' %}selected{% endif %}>Breach</option>
                                    <option value="Skye" {% if match.agent == 'Skye' %}selected{% endif %}>Skye</option>
                                    <option value="Yoru" {% if match.agent == 'Yoru' %}selected{% endif %}>Yoru</option>
                                    <option value="Astra" {% if match.agent == 'Astra' %}selected{% endif %}>Astra</option>
                                    <option value="Kay/O" {% if match.agent == 'Kay/O' %}selected{% endif %}>Kay/O</option>
                                    <option value="Chamber" {% if match.agent == 'Chamber' %}selected{% endif %}>Chamber</option>
                                    <option value="Neon" {% if match.agent == 'Neon' %}selected{% endif %}>Neon</option>
                                    <option value="Fade" {% if match.agent == 'Fade' %}selected{% endif %}>Fade</option>
                                    <option value="Harbor" {% if match.agent == 'Harbor' %}selected{% endif %}>Harbor</option>
                                    <option value="Gekko" {% if match.agent == 'Gekko' %}selected{% endif %}>Gekko</option>
                                </select>
                            </div>
                            <div class="form-group text-center">
                                <label for="map">Map:</label>
                                <select id="map" name="map" class="form-control mb-4 border-dark border-4">
                                    <option value="">-- Select Map Played --</option>
                                    <option value="Bind" {% if match.map == 'Bind' %}selected{% endif %}>Bind</option>
                                    <option value="Haven" {% if match.map == 'Haven' %}selected{% endif %}>Haven</option>
                                    <option value="Split" {% if match.map == 'Split' %}selected{% endif %}>Split</option>
                                    <option value="Ascent" {% if match.map == 'Ascent' %}selected{% endif %}>Ascent</option>
                                    <option value="Icebox" {% if match.map == 'Icebox' %}selected{% endif %}>Icebox</option>
                                    <option value="Breeze" {% if match.map == 'Breeze' %}selected{% endif %}>Breeze</option>
                                    <option value="Fracture" {% if match.map == 'Fracture' %}selected{% endif %}>Fracture</option>
                                    <option value="Pearl" {% if match.map == 'Pearl' %}selected{% endif %}>Pearl</option>
                                    <option value="Lotus" {% if match.map == 'Lotus' %}selected{% endif %}>Lotus</option>
                                </select>
                            </div>
                            <div class="form-group text-center">
                                <label for="start_rank">Current Rank?</label>
                                <select id="start_rank" name="start_rank" class="form-control mb-4 border-dark border-4">
                                    <option value="">-- Select Your Rank --</option>
                                    <option value="Unranked" {% if match.start_rank == 'Unranked' %}selected{% endif %}>Unranked</option>
                                    <option value="Bronze 1" {% if match.start_rank == 'Bronze 1' %}selected{% endif %}>Bronze 1</option>
                                    <option value="Bronze 2" {% if match.start_rank == 'Bronze 2' %}selected{% endif %}>Bronze 2</option>
                                    <option value="Bronze 3" {% if match.start_rank == 'Bronze 3' %}selected{% endif %}>Bronze 3</option>
                                    <option value="Silver 1" {% if match.start_rank == 'Silver 1' %}selected{% endif %}>Silver 1</option>
                                    <option value="Silver 2" {% if match.start_rank == 'Silver 2' %}selected{% endif %}>Silver 2</option>
                                    <option value="Silver 3" {% if match.start_rank == 'Silver 3' %}selected{% endif %}>Silver 3</option>
                                    <option value="Gold 1" {% if match.start_rank == 'Gold 1' %}selected{% endif %}>Gold 1</option>
                                    <option value="Gold 2" {% if match.start_rank == 'Gold 2' %}selected{% endif %}>Gold 2</option>
                                    <option value="Gold 3" {% if match.start_rank == 'Gold 3' %}selected{% endif %}>Gold 3</option>
                                    <option value="Platinum 1" {% if match.start_rank == 'Platinum 1' %}selected{% endif %}>Platinum 1</option>
                                    <option value="Platinum 2" {% if match.start_rank == 'Platinum 2' %}selected{% endif %}>Platinum 2</option>
                                    <option value="Platinum 3" {% if match.start_rank == 'Platinum 3' %}selected{% endif %}>Platinum 3</option>
                                    <option value="Diamond 1" {% if match.start_rank == 'Diamond 1' %}selected{% endif %}>Diamond 1</option>
                                    <option value="Diamond 2" {% if match.start_rank == 'Diamond 2' %}selected{% endif %}>Diamond 2</option>
                                    <option value="Diamond 3" {% if match.start_rank == 'Diamond 3' %}selected{% endif %}>Diamond 3</option>
                                    <option value="Ascendant 1" {% if match.start_rank == 'Ascendant 1' %}selected{% endif %}>Ascendant 1</option>
                                    <option value="Ascendant 2" {% if match.start_rank == 'Ascendant 2' %}selected{% endif %}>Ascendant 2</option>
                                    <option value="Ascendant 3" {% if match.start_rank == 'Ascendant 3' %}selected{% endif %}>Ascendant 3</option>
                                    <option value="Immortal 1" {% if match.start_rank == 'Immortal 1' %}selected{% endif %}>Immortal 1</option>
                                    <option value="Immortal 2" {% if match.start_rank == 'Immortal 2' %}selected{% endif %}>Immortal 2</option>
                                    <option value="Immortal 3" {% if match.start_rank == 'Immortal 3' %}selected{% endif %}>Immortal 3</option>
                                    <option value="Radiant" {% if match.start_rank == 'Radiant' %}selected{% endif %}>Radiant</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <p class="form-label fs-4">Team MVP?:</p>
                                <div class="form-check-inline fs-4">
                                    <input type="radio" name="team_mvp" id="team_mvp_yes" value="1" class="form-check-input border-dark border-4" {% if match.team_mvp == 1 %}checked{% endif %}>
                                    <label for="team_mvp_yes" class="form-label">Yes</label>
                                </div>
                                <div class="form-check-inline fs-4">
                                    <input type="radio" name="team_mvp" id="team_mvp_no" value="0" class="form-check-input border-dark border-4" {% if match.team_mvp == 0 %}checked{% endif %}>
                                    <label for="team_mvp_no" class="form-label">No</label>
                                </div>
                                
                                <p class="form-label fs-4">Match MVP?:</p>
                                <div class="form-check-inline fs-4">
                                    <input type="radio" name="match_mvp" id="match_mvp_yes" value="1" class="form-check-input border-dark border-4" {% if match.match_mvp == 1 %}checked{% endif %}>
                                    <label for="match_mvp_yes" class="form-label">Yes</label>
                                </div>
                                <div class="form-check-inline fs-4">
                                    <input type="radio" name="match_mvp" id="match_mvp_no" value="0" class="form-check-input border-dark border-4" {% if match.match_mvp == 0 %}checked{% endif %}>
                                    <label for="match_mvp_no" class="form-label">No</label>
                                </div>
                                
                                <p class="form-label fs-4">Did you win?:</p>
                                <div class="form-check-inline fs-4">
                                    <input type="radio" name="win_loss" id="win_loss_yes" value="1" class="form-check-input border-dark border-4" {% if match.win_loss == 1 %}checked{% endif %}>
                                    <label for="win_loss_yes" class="form-label">Yes</label>
                                </div>
                                <div class="form-check-inline fs-4">
                                    <input type="radio" name="win_loss" id="win_loss_no" value="0" class="form-check-input border-dark border-4" {% if match.win_loss == 0 %}checked{% endif %}>
                                    <label for="win_loss_no" class="form-label">No</label>
                                </div>
                                <div class="form-check-inline fs-4">
                                    <input type="radio" name="win_loss" id="win_loss_tie" value="2" class="form-check-input border-dark border-4" {% if match.win_loss == 2 %}checked{% endif %}>
                                    <label for="win_loss_tie" class="form-label">Tie</label>
                                </div>                                
                                <div class="form-group">
                                    <label for="my_score">Your Team Score?</label>
                                    <input type="number" name="my_score" id="my_score" min="0" max="30" class="mt-2 mb-4 border-dark border-4" value="{{match.my_score}}">
                                </div>
                                <div class="form-group">
                                    <label for="opp_score">Opponent Team Score?</label>
                                    <input type="number" name="opp_score" id="opp_score" min="0" max="30" class="border-dark border-4" value="{{match.opp_score}}">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">Kills</div>
                                <input type="text" name="kills" class="form-control mb-4 border-dark border-4" value="{{match.kills}}">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">Deaths</div>
                                <input type="text" name="deaths" class="form-control mb-4 border-dark border-4" value="{{match.deaths}}">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">Assists</div>
                                <input type="text" name="assists" class="form-control mb-4 border-dark border-4" value="{{match.assists}}">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">HS%</div>
                                <input type="text" name="headshot_percentage" class="form-control mb-4 border-dark border-4" value="{{match.headshot_percentage}}">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">ADR</div>
                                <input type="text" name="adr" class="form-control mb-4 border-dark border-4" value="{{match.adr}}">
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">ACS</div>
                                <input type="text" name="acs" class="form-control mb-4 border-dark border-4" value="{{match.acs}}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="diary_entry">Diary Entry</label>
                                    <textarea name="diary_entry" id="diary_entry" rows="4" class="form-control mb-4 border-dark border-4 col-12">{{match.diary_entry}}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="youtube_link">YouTube Link</label>
                                    <input type="text" name="youtube_link" id="youtube_link" class="form-control mb-4 border-dark border-4 col-12"  value="{{match.youtube_link}}">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-dark">Submit Edited Diary Entry</button>
                        </div>
                    </div>
                </form>
                </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/particles.js-master/particles.js') }}"></script>
    <script>
        particlesJS('particles-container', {
            particles: {
                number: { value: 100 },
                color: { value: '#dc3545' },
                shape: { type: 'circle' },
                opacity: { value: 0.5 },
                size: { value: 3, random: true },
                move: { enable: true, speed: 2 }
            },
            interactivity: {
                detect_on: 'canvas',
                events: {
                    onhover: { enable: true, mode: 'repulse' },
                    onclick: { enable: true, mode: 'push' }
                }
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

</body>
</html>